<div class="row">
    <div class="col-md-3 mt-2 bg-light">
        <!-- sidebar  -->
        <h6>Filter By Category</h6>
        <p><a href="/home" class="anchor">All</a></p>
        <p><a href="/catfilter/1" class="anchor">Cricket</a></p>
        <p><a href="/catfilter/2" class="anchor">Football</a></p>
        <p><a href="/catfilter/3" class="anchor">Swimming</a></p>        
        <hr>
        <hr>
        <h6>Sort By Price</h6>
        <a href="/sort/0" class="anchor" >Low to High</a><br>
        <a href="/sort/1" class="anchor">High to Low</a>
        <hr>
    </div>
   