{% load static %}
<div class="container row" >
    <!-- footer -->
    <div class="col-md-4 box">  
        2nd floor, Landmark Building,                 
        Near St. Xaviers College,
        Mumbai, 400102
        Contact: 8877665544
    </div>
    <div class="col-md-4 box">  
      <a class="anchor"  href="home">Home</a>
      <a class="anchor"  href="login">Login</a>
      <a class="anchor"  href="register">Register</a>          
    </div>
    <div class="col-md-4 box">                   
        <i class="bi bi-linkedin"></i>
    </div>
</div>        
</div>
<script src="{% static 'js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>

</body>
</html>