{% extends 'layout.html' %}
{% load static %}

{% block 'main' %}
        <!-- main content -->       
                <!-- main content -->
                <div class="row">
                  <!-- prod 1 start -->
                  {% for p in products %}
                  <div class="col-md-3 mt-2">                    
                      <div class="card" style="width:100%;">
                        <img src="{{ p.pimage.url }}" width="20px" class="card-img-top"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ p.name }}</h5>
                          <p class="card-text">{{ p.details }}</p>
                          {% if p.cat == 1 %}
                          <p class="card-text">Cricket</p>
                          {% elif p.cat == 2 %}
                          <p class="card-text">Football</p>
                          {% else %}
                          <p class="card-text">Swimming</p>
                          {% endif %}
                          <strong>Rs.{{ p.price }}</strong><br>
                          <a href="/details/{{p.id}}" class="btn btn-danger">Details</a><br>                          
                        </div>
                      </div>                   
                  </div> <!-- end of prod 1 -->   
                  {% endfor %}         
            </div>                         
{% endblock 'main' %}